body{
    background-color: red;
    color: gold;
    font-size: 20px;
}

.row{
    padding: 20px;
}

.col{
    text-align: center;
}

#order{
    background-color: black;
    font-size: 25px;
    padding: 30px;
    border-radius: 50%;
}

#order{
    height: 200px;
    width: 300px;
    animation: zoom-in-zoom-out 4s ease-in infinite;
      }
      
    @keyframes zoom-in-zoom-out {
      0% {
      transform: scale(1, 1);
      }
      50% {
      transform: scale(1.1,1 );
      }
      100% {
      transform: scale(1, 1);
      }
}

.data{
    padding-top: 10px;
    margin-left: 300px;
    align-items: center;
    width: 60%;
    background-color: ;
}

.data h2{
    text-align: center;
}

.about{
    width: 1000px;
    background-color: gold;
    background-position: center;
    color: red;
    padding: 35px;
    margin-left: 150px;
    text-align: center;
    border-radius: 5%;
}